.Card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #dcdcdc;
    width: 50%;
    margin: 10px auto;
}